.login_box{
    .el-card{
        margin-top: 10%;
        margin-left: 37.5%;
        width: 25%;
        height: 50%;
        .el-input{
            margin-bottom: 20px;
         //去掉加减按钮
         input::-webkit-outer-spin-button,
         input::-webkit-inner-spin-button {
             -webkit-appearance: none;
         }
         input[type="number"] {
             -moz-appearance: textfield;
         }
        }


        .logintext{
            margin-left: 43%;
            font-size: 175%;
        }
        

        .el-button{
            width: 20%;
            margin-left: 40%;
        }
    }
}