$el-submenu-color:rgba(22, 7, 7, 0);
$gree-color:rgb(104, 213, 196);
$white-color:rgb(255, 255, 255);

.el-header 
{
    text-align: right;
    font-size: 25px;
    background-color:$gree-color;
    color: $white-color;
    line-height: 60px;
}