.el-header {
  background-color: #68d5c4;
  color: white;
}

.el-header .userid {
  display: inline-block;
  width: 49%;
  text-align: left;
  font-size: 25px;
  line-height: 60px;
  margin: 0px;
}

.el-header .username {
  display: inline-block;
  width: 49%;
  text-align: right;
  font-size: 25px;
  line-height: 60px;
  margin: 0px;
}
