$el-submenu-color:rgba(22, 7, 7, 0);
$gree-color:rgb(104, 213, 196);
$white-color:rgb(255, 255, 255);
$litlle-bule:rgb(0, 207, 232);
$bigsize:300px;
$imgsize:400px;
//此处的240是图片大小


.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.clearfix:before,.clearfix:after {
    display: table;
    content: "";
}
  
.clearfix:after {
    clear: both
}

.boxs{
    text-align: left;
 
    .box-card {
        .el-dialog{
            .el-dialog__header{
                background-color:$gree-color;
                button{
                    i:before{
                        color: $white-color;
                    }
                }
                span{
                    color: $white-color;
                }
               
            }
            .el-dialog__body{
                height: 400px;
            }
            .el-image{
                float: left;
                top: 0px;
                left: 0px;
                width: $imgsize ;
            }
            .price{
                float: left;
                // position: absolute;
                padding-left: 10%;
                top: 0px;
                left: 0px;
                width: 300px;
                height: $imgsize / 4;
                font-size: 30px;
                line-height: $imgsize / 4;
            }
            .allprice{
                float: left;
                // position: absolute;
                padding-left: 10%;
                width: 300px;
                height: $imgsize / 4;
                font-size: 30px;
                line-height: $imgsize / 4;
            }
            .block{
                float: left;
                margin-left: 10%;
                .demonstration{
                    display: inline-block;
                    font-size: 20px;
                    margin-left: $imgsize / 3.2;
                    margin-top: 10px;
                    margin-bottom: 30px;
                }
            }
            
            .el-button{
                float: left;
                width: 75px;
                margin-top: $imgsize / 8;
                margin-left: $imgsize / 1.75;
                background-color: $gree-color;
                color:$white-color;
                border:2px solid $gree-color;
                &:hover{
                    color: $gree-color;
                    background-color:$white-color;
                    border-color: $gree-color;
                }
            }

        }
        .showpic{
            float: left;
            width:200px;
        }
        display: inline-block;
        width: 480px;
        height: $imgsize*1.5;
        margin: 10px;
        text-align: left;
        .textbox{
            padding-top:40px;
            float: left;
            margin-left:50px;
            height: $imgsize - 40;
            .text{
                font-size: 15px;
            }
            // margin-bottom: 0px;
        }
       
    }
}
