.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.boxs {
  text-align: left;
}

.boxs .box-card {
  display: inline-block;
  width: 480px;
  height: 300px;
  margin: 10px;
  text-align: left;
}

.boxs .box-card img {
  float: left;
}

.boxs .box-card .textbox {
  padding-top: 40px;
  float: left;
  margin-left: 50px;
  height: 160px;
}

.boxs .box-card .textbox .text {
  font-size: 15px;
}
